<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealsApp"
        tools:targetApi="31">
        <activity
            android:name=".ViewCreatedMealPlans"
            android:exported="false" />

        <provider
            android:name=".MealPlanContentProvider"
            android:authorities="com.demo.mealplans.provider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".CreateMealPlan"
            android:exported="false" />
        <activity
            android:name=".LogCaloriesActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeDetail"
            android:exported="false" />
        <activity
            android:name=".FindRecipes"
            android:exported="false" />
        <activity
            android:name=".CalorieTracker"
            android:exported="false" />
        <activity
            android:name=".MealPlanner"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>